/target
/lib
/classes
/checkouts
/resources/public/game/js
/resources/public/game/game.js
/resources/public/menu/js
/resources/public/menu.js
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.nrepl-port
.lein-repl-history
