<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cities</title>
    <meta name="description" content="Index page">
    <meta name="author" content="mike706574">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/card.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column" style="margin-top: 1em">
          <h1>Cities</h1>
          <div id="app"></div>
        </div>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
