div.bottom-container {
  padding: 0;
  position: relative;
  height: 145px;
  width: 280px;
  margin: auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.pointer {
  cursor: pointer;
}

.card {
  margin: 0;
  padding: 0;
  position: absolute;
  float: left;
  margin-right: 10px;
  border: 1px solid white;
  width: 55px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  /* .no-select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.blue { background: #2196F3; }
.green { background: #4CAF50; }
.red { background: #F44336; }
.white { background: #000000; }
.yellow { background: #fbc02d; }
.purple { background: #3F51B5; }

.blue-text { color: #2196F3; }
.green-text { color: #4CAF50; }
.red-text { color: #F44336; }
.white-text { color: #000000; }
.yellow-text { color: #fbc02d; }

.card p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font: 32px/80px Georgia, serif;
  /* .no-select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.rank-W:before, .rank-W:after { content: "W";  color: white; }
.rank-1:before, .rank-1:after { content: "1";  color: white; }
.rank-2:before, .rank-2:after { content: "2";  color: white; }
.rank-3:before, .rank-3:after { content: "3";  color: white; }
.rank-4:before, .rank-4:after { content: "4";  color: white; }
.rank-5:before, .rank-5:after { content: "5";  color: white; }
.rank-6:before, .rank-6:after { content: "6";  color: white; }
.rank-7:before, .rank-7:after { content: "7";  color: white; }
.rank-8:before, .rank-8:after { content: "8";  color: white; }
.rank-9:before, .rank-9:after { content: "9";  color: white; }
.rank-10:before, .rank-10:after { content: "10";  color: white; }

div[class*='rank']:before {
  position: absolute;
  font-size: 14px;
  left: 3px;
  top: 0px;
}

div[class*='rank']:after {
  position: absolute;
  font-size: 14px;
  right: 3px;
  bottom: -1px;
}

.hand-1 {
  left: -22px;
  top: 40px;
  transform: rotate(-25deg);
}

.hand-2 {
  left: 12px;
  top: 22px;
  transform: rotate(-17deg);
}

.hand-3 {
  left: 50px;
  top: 8px;
  transform: rotate(-10deg);
}

.hand-4 {
  left: 88px;
  top: 0px;
  transform: rotate(-5deg);
}

.hand-5 {
  left: -12px;
  top: 90px;
  transform: rotate(-25deg);
}

.hand-6 {
  left: 26px;
  top: 72px;
  transform: rotate(-17deg);
}

.hand-7 {
  left: 64px;
  top: 58px;
  transform: rotate(-10deg);
}

.hand-8 {
  left: 102px;
  top: 50px;
  transform: rotate(-5deg);
}

.selected-card {
  border: 3px solid white;
  z-index: 10;
}

.highlighted-card {
  border: 3px solid white;
}

div.top-container {
  position: relative;
  height: 322px;
  padding: 0;
  width: 312px;
  margin: 6px auto 0 auto;
  /* .no-select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.play-container {
  position: relative;
  height: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 30px;
  margin: 4px auto 0 auto;
}

.play {
  margin: 0;
  padding: 0;
  left: -22px;
  position: absolute;
}

.score-container {
  position: relative;
  height: 20px;
  width: 300px;
  margin: 0 auto;
}

.score {
  margin: 0;
  padding: 0;
  position: absolute;
}

.score-red {
  left: 16px;
}

.score-green {
  left: 78px;
}

.score-blue{
  left: 140px;
}

.score-yellow {
  left: 202px;
}

.score-white {
  left: 264px;
}

div.red-discard {
  left: 165px;
  top: 15px;
  transform: rotate(-17deg);
}

.green-discard {
  left: 202px;
  top: 4px;
  transform: rotate(-10deg);
  z-index: 2;
}

div.blue-discard {
  left: 249px;p
  top: 0px;
  transform: rotate(-5deg);
  z-index: 3;
}

div.yellow-discard {
  left: 175px;
  top: 70px;
  transform: rotate(-17deg);
  z-index: 4;xb
}

div.white-discard {
  left: 255px;
  top: 56px;
  transform: rotate(-2deg);
  z-index: 4;
}

.expedition-marker {
  z-index: -1;
  height: 80px;
  margin: 0;
  padding: 0;
  position: absolute;
  float: left;
  margin-right: 10px;
  width: 55px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.light-yellow { background: #FFF176; }
.light-red { background: #FFCDD2; }
.light-blue { background: #90CAF9; }
.light-green { background: #A5D6A7; }
.light-white { background: #E0E0E0; }

div.draw-pile {
  margin: 0;
  padding: 0;
  position: absolute;
  float: left;
  margin-right: 10px;
  border: 1px solid white;
  width: 55px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  left: 215px;
  top: 58px;
  transform: rotate(-10deg);
  background: #3F51B5;
  z-index: 5;
  /* .no-select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

div.draw-pile p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font: 32px/80px Georgia, serif;
  user-select: none;
}

.expedition-red { left: 4px; }
.expedition-green { left: 66px }
.expedition-blue { left: 128px; }
.expedition-yellow { left: 190px; }
.expedition-white { left: 252px; }

.expedition-1 { top: 0px; }
.expedition-2 { top: 18px; }
.expedition-3 { top: 36px; }
.expedition-4 { top: 54px; }
.expedition-5 { top: 72px; }
.expedition-6 { top: 90px; }
.expedition-7 { top: 108px; }
.expedition-8 { top: 126px; }
.expedition-9 { top: 144px; }
.expedition-10 { top: 162px; }
.expedition-11 { top: 180px; }
.expedition-12 { top: 198px; }
.expedition-13 { top: 216px; }
.expedition-14 { top: 234px; }
